<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="../../../favicon.ico" class="imagenNav" alt="icono principal" />
    </a>
    <button
      class="navbar-toggler navbar-light"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">
            <button class="btn-nav">Home</button>
          </a>
        </li>
        <li class="nav-item" *ngIf="user">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/mi-perfil"
          >
            <button class="btn-nav">Mi Perfil</button>
          </a>
        </li>
        <li class="nav-item" *ngIf="this.authService.isAdmin || isPaciente">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/solicitar-turno"
          >
            <button class="btn-nav">Solicitar Turno</button>
          </a>
        </li>
        <li class="nav-item" *ngIf="this.authService.isAdmin">
          <a class="nav-link active" aria-current="page" routerLink="/turnos">
            <button class="btn-nav">Turnos</button>
          </a>
        </li>
        <li class="nav-item" *ngIf="this.isPaciente || this.isEspecialista">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/mis-turnos"
          >
            <button class="btn-nav">Mis Turnos</button>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/pacientes"
            *ngIf="this.isEspecialista"
          >
            <button class="btn-nav">PACIENTES</button>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/usuarios-admin"
            *ngIf="this.authService.isAdmin"
          >
            <button class="btn-nav">USUARIOS</button>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/informes"
            *ngIf="this.authService.isAdmin"
          >
            <button class="btn-nav">INFORMES</button>
          </a>
        </li>
      </ul>

      <span *ngIf="authService.isLogged" class="userInfo">
        <button
          type="button"
          color="light"
          mat-fab
          [matMenuTriggerFor]="paciente1"
        >
          <img class="img-btn" src="{{ user.imagen1 }}" alt="usuario" />
        </button>
        <mat-menu #paciente1="matMenu" yPosition="below">
          <p style="text-align: center; font-weight: bolder">
            {{ user.nombre }}
          </p>
          <button
            type="button"
            color="primary"
            mat-menu-item
            (click)="logout()"
          >
            LOGOUT
          </button>
        </mat-menu>
      </span>

      <button
        class="btn-nav btn-registro"
        (click)="goToRegister()"
        *ngIf="!this.authService.isLogged"
      >
        <span>Registro</span>
      </button>

      <button
        class="btn-nav btn-login"
        (click)="goToLogin()"
        *ngIf="!this.authService.isLogged"
      >
        <span>Login</span>
      </button>

      <!-- <button
        class="btn-nav btn-logout"
        (click)="logout()"
        *ngIf="this.authService.isLogged"
      >
        <span>Logout</span>
      </button> -->
    </div>
  </div>
</nav>
