<app-navbar></app-navbar>

<div class="tabla-usuario text-focus-in" *ngIf="!createrUserMenu">
  <h3>LISTADO DE USUARIOS</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">FOTO</th>
        <th scope="col">PERFIL</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">APELLIDO</th>
        <th scope="col">ACCIÓN</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="tr-tabla"
        style="cursor: pointer"
        *ngFor="let user of usersList"
      >
        <td><img width="50" src="{{ user.imagen1 }}" alt="imagen" /></td>
        <td style="text-transform: upperCase">{{ user.perfil }}</td>
        <td>{{ user.nombre }}</td>
        <td>{{ user.apellido }}</td>
        <td>
          <div *ngIf="user.perfil == 'especialista'">
            <button
              class="btn-habilitar"
              *ngIf="!user.aprobado"
              (click)="updateUser(user, 1)"
            >
              Habilitar
            </button>
            <button
              class="btn-deshabilitar"
              *ngIf="user.aprobado"
              (click)="updateUser(user, 2)"
            >
              Deshabilitar
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="contenedor-spinner" *ngIf="spinner">
  <div class="wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
  </div>
</div>

<button
  class="btn-habilitar btn-nuevo-usuario"
  *ngIf="!createrUserMenu"
  (click)="showCreateUserMenu()"
>
  Registrar Nuevo Usuario
</button>

<button
  class="btn-habilitar btn-menu-volver"
  *ngIf="createrUserMenu"
  (click)="showUserList()"
>
  Ver Listado de Usuarios
</button>

<div
  class="opcion-registros row"
  *ngIf="
    !formPaciente && !formEspecialista && !formAdministrador && createrUserMenu
  "
>
  <div class="col text-focus-in" (click)="goToFormPaciente()">
    <div>
      <h2>Paciente</h2>
      <img src="../../../assets/paciente.png" alt="imagen paciente" />
    </div>
  </div>
  <div class="col text-focus-in" (click)="goToFormEspecialista()">
    <div>
      <h2>Especialista</h2>
      <img src="../../../assets/especialista.png" alt="imagen especialista" />
    </div>
  </div>
  <div class="col text-focus-in" (click)="goToFormAdministrador()">
    <div>
      <h2>Administrador</h2>
      <img src="../../../assets/admin.png" alt="imagen adminitrador" />
    </div>
  </div>
</div>

<div class="registro-paciente" *ngIf="formPaciente">
  <button class="btn-volver text-focus-in" (click)="goToRegistro()">
    Volver
  </button>
  <app-form-alta-paciente></app-form-alta-paciente>
</div>
<div class="registro-especialista" *ngIf="formEspecialista">
  <button class="btn-volver text-focus-in" (click)="goToRegistro()">
    Volver
  </button>
  <app-form-alta-especialista></app-form-alta-especialista>
</div>
<div class="registro-especialista" *ngIf="formAdministrador">
  <button class="btn-volver text-focus-in" (click)="goToRegistro()">
    Volver
  </button>
  <app-form-alta-administrador></app-form-alta-administrador>
</div>

<div class="usuarios-container"></div>
