<app-navbar></app-navbar>

<div class="contenedor-spinner" *ngIf="spinner">
  <div class="wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
  </div>
</div>

<div class="login-container">
  <div class="example-button-row">
    <button type="button" color="light" mat-fab [matMenuTriggerFor]="paciente1">
      <img class="img-btn" src="../../../assets/paciente1.png" alt="" />
    </button>
    <mat-menu #paciente1="matMenu" yPosition="below">
      <p style="text-align: center; font-weight: bolder">Paciente 1</p>
      <button type="button" color="primary" mat-menu-item (click)="loadUser(1)">
        Cargar campos
      </button>
    </mat-menu>

    <button type="button" color="light" mat-fab [matMenuTriggerFor]="paciente2">
      <img class="img-btn" src="../../../assets/paciente2.png" alt="" />
    </button>
    <mat-menu #paciente2="matMenu" yPosition="below">
      <p style="text-align: center; font-weight: bolder">Paciente 2</p>
      <button type="button" mat-menu-item (click)="loadUser(2)">
        Cargar campos
      </button>
    </mat-menu>

    <button type="button" color="light" mat-fab [matMenuTriggerFor]="paciente3">
      <img class="img-btn" src="../../../assets/paciente3.png" alt="" />
    </button>
    <mat-menu #paciente3="matMenu" yPosition="below">
      <p style="text-align: center; font-weight: bolder">Paciente 3</p>
      <button type="button" mat-menu-item (click)="loadUser(3)">
        Cargar campos
      </button>
    </mat-menu>

    <button
      type="button"
      color="light"
      mat-fab
      [matMenuTriggerFor]="especialista2"
    >
      <img class="img-btn" src="../../../assets/medico2.png" alt="" />
    </button>
    <mat-menu #especialista2="matMenu" yPosition="below">
      <p style="text-align: center; font-weight: bolder">Especialista 1</p>
      <button type="button" mat-menu-item (click)="loadUser(4)">
        Cargar campos
      </button>
    </mat-menu>

    <button
      type="button"
      color="light"
      mat-fab
      [matMenuTriggerFor]="especialista1"
    >
      <img class="img-btn" src="../../../assets/medico1.png" alt="" />
    </button>
    <mat-menu #especialista1="matMenu" yPosition="below">
      <p style="text-align: center; font-weight: bolder">Especialista 2</p>
      <button type="button" mat-menu-item (click)="loadUser(5)">
        Cargar campos
      </button>
    </mat-menu>

    <button type="button" color="light" mat-fab [matMenuTriggerFor]="admin">
      <img class="img-btn" src="../../../assets/admin.png" alt="" />
    </button>
    <mat-menu #admin="matMenu" yPosition="below">
      <p style="text-align: center; font-weight: bolder">Administrador</p>
      <button type="button" mat-menu-item (click)="loadUser(6)">
        Cargar campos
      </button>
    </mat-menu>
  </div>
</div>

<form
  [formGroup]="formLogin"
  class="contenedor-form text-focus-in"
  (ngSubmit)="loginUser()"
>
  <h2>INICIO DE SESIÓN</h2>
  <div class="row">
    <div class="col">
      <div class="row">
        <!-- INPUT MAIL -->
        <div
          class="col-sm mb-3"
          [ngClass]="loadedField ? 'shake-horizontal' : ''"
        >
          <label for="email" class="form-label">Email</label>
          <input
            formControlName="email"
            type="email"
            class="form-control"
            placeholder="Email"
          />
          <small
            class="mensaje-error"
            *ngIf="
        formLogin.controls['email'].errors?.['required'] &&
        formLogin.controls['email'].touched
                          "
          >
            El Email es requerido
          </small>
        </div>
      </div>
      <div class="row">
        <!-- INPUT PASSWORD -->
        <div
          class="col-sm mb-3"
          [ngClass]="loadedField ? 'shake-horizontal' : ''"
        >
          <label for="password" class="form-label">Contraseña</label>
          <input
            formControlName="password"
            type="password"
            class="form-control"
            placeholder="Contraseña"
          />
          <small
            class="mensaje-error"
            *ngIf="
        formLogin.controls['password'].errors?.['required'] &&
        formLogin.controls['password'].touched
                          "
          >
            La contraseña es requerida
          </small>
        </div>
      </div>
      <button class="btn">Iniciar Sesión</button>
    </div>
  </div>
</form>
