<app-navbar></app-navbar>

<div class="contenedor-spinner" *ngIf="spinner">
  <div class="wrapper">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
  </div>
</div>

<div class="opcion-registros" *ngIf="!formPaciente && !formEspecialista">
  <div class="row card-form text-focus-in" (click)="goToFormPaciente()">
    <div>
      <h2>Paciente</h2>
      <img src="../../../assets/paciente.png" alt="imagen paciente" />
    </div>
  </div>
  <div class="row card-form text-focus-in" (click)="goToFormEspecialista()">
    <div>
      <h2>Especialista</h2>
      <img src="../../../assets/especialista.png" alt="imagen especialista" />
    </div>
  </div>
</div>
<div class="registro-paciente" *ngIf="formPaciente">
  <button class="btn-volver text-focus-in" (click)="goToRegistro()">Volver</button>
  <app-form-alta-paciente></app-form-alta-paciente>
</div>
<div class="registro-especialista" *ngIf="formEspecialista">
  <button class="btn-volver text-focus-in" (click)="goToRegistro()">Volver</button>
  <app-form-alta-especialista></app-form-alta-especialista>
</div>
<div class="registro-container"></div>
